streamlit
torch
torchvision
torchaudio
torchmetrics
opencv-python
pillow
decord
av
transformers
timm
einops
matplotlib
seaborn
plotly
pandas
numpy
scikit-learn
streamlit-webrtc
aioice
aiortc
cryptography
pyee
pylibsrtp
pyopenssl
dnspython
ifaddr
